@charset "UTF-8";  /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it. */
/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------

01 - GENERAL STUFF FIRST
1A   - Patterns
1B   - Bootstrap Override
**
02 - LAYOUT
2A   - Header
2B   - Banner
2C   - Content
2D   - Footer
2E   - Internet Explorer
**
03 - MEDIAQUERIES
3A   - High DPI
3B   - Above widths
3C   - Dektop
3D   - Tablets
3E   - Cellular

/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : GENERAL STUFF FIRST
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
@import "./styles/general";




/* 1A. Patterns
 *   - Vertical Align
 *   - Section Colors
 *   - SVG Wrap
 *   - Background Images
 *   - Responsive iFrames
 *   - Headers with background color
 *   - @import Buttons
 *   - @import Post Previews
 *   - @import Forms
 *   - @import Slick Carousel
----------------------------------------
////////////////////////////////////// */
// @import "styles/patterns";
/*******************
** Vertical Align
*******************/
[class*="va-"]                                              { position: relative; height: 100%; font-size: 0;
    > *                                                     { display: inline-block; float: none; font-size: 10px;}
    > .fill                                                 { font-size: 0!important; width: 0; height: 100%;}
}

.va-t > *                                                   { vertical-align: top;}
.va-m > *                                                   { vertical-align: middle;}
.va-b > *                                                   { vertical-align: bottom;}


.no-ani                                                     { animation: none!important; transition: none!important;}




/* 1B. Bootstrap Override
----------------------------------------
////////////////////////////////////// */
[class^="container"]                                        { width: 100%; max-width: 100%; margin: 0 auto; transition: padding $speed ease;}
[class^="container"] [class^="container"]                   { padding-left: 15px; padding-right: 15px;}

section.no-gutter .row                                      { margin: 0 auto;}
section.no-gutter .row > div                                { padding: 0;}

.row                                                        { position: relative; z-index: 1;}



/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                                        { opacity: 0; font-size: 10px;}
html.ready                                                  { opacity: 1; transition: opacity $speed*2 ease;}

html, body                                                  { width: 100%; height: 100%; overflow: hidden;}

.symbol                                                     { /*display: inline-block;*/ vertical-align: top; font-size: 45%; letter-spacing: 0.01em;}

#app-wrap                                                   { @include absolute(0,0,0,$sideNavD); z-index: 0;
    &::before                                               { content: ""; @include fixed(0,0,0,0); z-index: 0; margin: auto; opacity: 0.05; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 75%);}

    .showList &                                             { bottom: $sideNavD;}

    @include media-breakpoint-down(sm)                      { left: 0; bottom: $sideNavM;}
}


.window                                                     { @include absolute(0,0,0,0); z-index: 1; width: auto; height: auto; overflow: auto; text-align: center; transition: all $speed ease;
    > div                                                   { position: relative; z-index: 1; margin: 0 auto; width: 100%;}
}


#map-wrap                                                   { text-align: center;
    .inner                                                  { max-width: 1000px; min-width: map-get($grid-breakpoints, 'sm'); margin: 0 auto; padding: 30px 0;}
}


.key-wrap                                                   { position: relative; margin: 90px 12%;
    &::before                                               { content: ""; display: block; width: 100%; padding: 50% 0 0;}

    .map                                                    { width: 100%;}

    img                                                     { display: none; @include absolute(0,auto,auto,0); margin: auto; width: 100%;}

    .note                                                   { display: flex; justify-content: center; align-items: center; @include absolute(auto,0,auto,0); width: 14%; height: 28%; color: #000; font-weight: 700; line-height: 1; text-align: center; margin: auto; background: $white; border: 1px solid #dedede; box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.5); transform: scale(1); backface-visibility: hidden; transition: all $speed ease;

        .spot                                               { font-size: 14px; line-height: 1; display: block; @include absolute(-1px,-1px,auto,auto); border: 1px solid #ccc; padding: 2px 4px; min-width: 25px; font-weight: 300; background: $white; color: $grey-med;
            @include media-breakpoint-down(sm)              { min-width: 20px;}

            .type                                           { font-size: 60%; vertical-align: super;}
        }

        .root                                               { position: relative; font-size: 45px; color: inherit; color: $color-1;
            .symbol                                         { line-height: 0.4;}
            .chord-type                                     { font-size: 35px; vertical-align: baseline;
                &.dim                                       { vertical-align: top;}
            }
        }


        @include media-breakpoint-between(sm, mb)
        {
            .spot                                           { font-size: 1.2vw;}
            .root                                           { font-size: 3.8vw;
                .chord-type                                 { font-size: 3.2vw;}
            }
        }

        @include media-breakpoint-down(sm)
        {
            .spot                                           { font-size: 8px;}
            .root                                           { font-size: 28px;
                .chord-type                                 { font-size: 20px;}
            }
        }
    }
}


$lineW : 2px;

.lines                                                      { @include absolute(0,0,0,0); margin: auto; pointer-events: none;
    [class*="line"]                                         { @include absolute(0,auto,auto,0); z-index: 0; height: $lineW; background: #333; color: #333; transform-origin: top left; transform: rotate(0deg); transition: all $speed ease; backface-visibility: hidden;

        &.flip                                              { left: auto; right: 0; transform-origin: top right;}

        span                                                { @include absolute(0,0,0,0); height: 30px; width: auto; margin: auto; display: block;}

        &.top                                               { top: 0; bottom: auto;}
        &.bot                                               { top: auto; bottom: 0;}
        &.left                                              { right: auto; left: 0;}
        &.right                                             { right: 0; left: auto;}

        &[class*="arr"]
        {
            span { &::before, &::after                      { @include absolute(auto,auto,auto,auto); width: 20px; height: 20px; margin: auto; border: none; border-width: $lineW; border-color: inherit; box-shadow: none; outline: none; backface-visibility: hidden; transform: rotate(45deg); transition: all $speed ease;
                @include media-breakpoint-down(lg)          { width: 15px; height: 15px;}
                @include media-breakpoint-down(md)          { width: 12px; height: 12px;}
                @include media-breakpoint-down(sm)          { width: 10px; height: 10px;}
            }}

            &[class*="-l"] span::before                     { content: ""; top: 0; bottom: 0; left: $lineW; border-right-style: none; border-left-style: solid; border-bottom-style: solid;}
            &[class*="-r"] span::after                      { content: ""; top: 0; bottom: 0; right: $lineW; border-left-style: none; border-right-style: solid; border-top-style: solid;}
        }
    }

    .hook
    {
        .line-l                                             { left: $lineW - 1px; right: auto; transform: rotate(-90deg); transform-origin: bottom left;}
        .line-r                                             { right: $lineW - 1px; left: auto; transform: rotate(90deg); transform-origin: bottom right;}

        .arr
        {
            &[class*="-l"] span
            {
                &::before                                   { content: none;}
                &::after                                    { content: ""; top: 0; bottom: 0; right: $lineW - 1px; border-left-style: none; border-right-style: solid; border-top-style: solid;}
            }

            &[class*="-r"] span
            {
                &::before                                   { content: ""; top: 0; bottom: 0; left: $lineW - 1px; border-right-style: none; border-left-style: solid; border-bottom-style: solid;}
                &::after                                    { content: none;}
            }
        }

        &.top
        {
            .line-l                                         { transform: rotate(90deg); transform-origin: top left;}
            .line-r                                         { transform: rotate(270deg); transform-origin: top right;}
        }

        &.bot
        {
            .line-l                                         { transform: rotate(-90deg); transform-origin: bottom left;}
            .line-r                                         { transform: rotate(90deg); transform-origin: bottom right;}
        }
    }

    .line                                                   { pointer-events: auto;}
}



#major-wrap
{
    #note-1                                                 { top: 0;}
    #note-2                                                 { bottom: 0; left: -100%;}
    #note-3                                                 { bottom: 0; left: -33.3333%;}
    #note-4                                                 { top: 0; right: -66.6667%;}
    #note-5                                                 { top: 0; left: -66.667%;}
    #note-6                                                 { bottom: 0; right: -33.3333%;}
    #note-7                                                 { bottom: 0; right: -100%;}

    #major_line_2-3                                         { top: 85.6667%; left: 7.75%; width: 17.5%;}
    #major_line_2-5                                         { top: 70.5%; left: 0; width: 22.3333%; transform: rotate(-66.5deg);}
    #major_line_2-7                                         { bottom: -16.5%; left: 0; width: 100%;
        .line-l                                             { width: 7.6667%;}
        .line-r                                             { width: 7.3333%;}
    }

    #major_line_3-4                                         { top: 29.25%; right: 24.5%; width: 40%; transform: rotate(-31deg);}
    #major_line_3-6                                         { top: 85.6667%; left: 41%; width: 17.5%;}

    #major_line_4-1                                         { top: 14%; left: 57.75%; width: 18%;}
    #major_line_4-2                                         { top: 19%; right: 24.6667%; width: 72.5%; transform: rotate(-20.75deg);}
    #major_line_4-5                                         { top: -11%; left: 16.6667%; width: 67%;
        .line-l                                             { width: 7%;}
        .line-r                                             { width: 7.3333%;}
    }
    #major_line_4-7                                         { top: 29.25%; left: 91%; width: 22.5%; transform: rotate(66.5deg);}

    #major_line_5-1                                         { top: 14%; left: 24.1667%; width: 18%;}
    #major_line_5-6                                         { top: 29.25%; left: 24.5%; width: 40%; transform: rotate(31deg);}
    #major_line_5-7                                         { top: 19%; left: 24.5%; width: 75.5%; transform: rotate(26.1666deg);}

    #major_line_6-2                                         { left: 3.5%; bottom: -10.5%; width: 63.1667%;
        .line-l                                             { width: 7%;}
        .line-r                                             { width: 7.5%;}
    }
    #major_line_6-4                                         { top: 29.25%; right: 17%; width: 26.5%; transform: rotate(-51.5deg);}

    #major_line_7-1                                         { top: 29.25%; left: 57.75%; width: 40.5%; transform: rotate(30.75deg);}
}

#minor-wrap
{
    #note-1                                                 { top: 0; right: -100%;}
    #note-2                                                 { bottom: 0; right: -33.3333%;}
    #note-3                                                 { bottom: 0; left: -33.3333%;}
    #note-4                                                 { top: 0; left: -33.3333%;}
    #note-5                                                 { bottom: 0; right: -100%;}
    #note-6                                                 { top: 0; left: -100%;}
    #note-7                                                 { bottom: 0; left: -100%;}
    #note-7-harmonic, #note-8                               { top: 0; right: -33.3333%;}

    #minor_line_2-7h                                        { top: 29.5%; left: 66.6667%; width: 20.5%; transform: rotate(90deg);}
    #minor_line_2-5                                         { bottom: 14%; left: 74%; width: 18.25%;}

    #minor_line_3-2                                         { bottom: 14%; left: 40.75%; width: 18.25%;}
    #minor_line_3-4                                         { top: 29.5%; left: 33.333%; width: 20.5%; transform: rotate(90deg);}
    #minor_line_3-6                                         { top: 29%; left: 7.6667%; width: 28%; transform: rotate(49deg);}

    #minor_line_4-1                                         { top: -11%; left: 33.3333%; width: 67%;
        .line-l                                             { width: 7.3333%;}
        .line-r                                             { width: 7%;}
    }
    #minor_line_4-2                                         { top: 28.75%; left: 41%; width: 30%; transform: rotate(44deg);}
    #minor_line_4-5                                         { top: 21%; left: 41%; width: 57%; transform: rotate(25.75deg);}
    #minor_line_4-7h                                        { top: 14%; left: 40.75%; width: 18.25%;}

    #minor_line_5-1                                         { top: 29.5%; left: 100%; width: 20.5%; transform: rotate(90deg);}
    #minor_line_5-6                                         { bottom: -10%; left: -12%; width: 109%;
        .line-l                                             { width: 44%;
            .line-r                                         { transform: rotate(-90deg); transform-origin: top right; width: 8.75%;}
        }
        .line-r                                             { width: 3.75%;}
    }

    #minor_line_6-2                                         { top: 21%; left: 7.6667%; width: 58%; transform: rotate(28deg);}
    #minor_line_6-4                                         { top: 14%; left: 7.5%; width: 18%;}
    #minor_line_6-7                                         { top: 29.5%; left: 0; width: 20.5%; transform: rotate(90deg);}

    #minor_line_7-3                                         { bottom: 14%; left: 7.75%; width: 17.75%;}
    #minor_line_7-5                                         { bottom: -16.3333%; left: 0; width: 103.5%;
        .line-l                                             { width: 7.3333%;}
        .line-r                                             { width: 7%;}
    }

    #minor_line_7h-1                                        { top: 14%; left: 74%; width: 18.25%;}
}


#viewFriendly
{
    &.radios                                                { text-align: left; padding: 0 $btnGap; margin-top: spacing();

        $labelH : $btnGap*2;
        .radio                                              { opacity: 0.35; position: relative; margin: 0; line-height: $labelH; cursor: pointer; padding-left: $labelH + 3px; transition: all speed() ease;
            &::before, &::after                             { content: ""; @include absolute(0,auto,0,0); margin: auto; border-radius: 50%; transition: all speed() ease;}
            &::before                                       { width: $labelH; height: $labelH; border: 1px solid;}
            &::after                                        { width: 0; height: 0; left: $btnGap; background: $white;}

            &.active                                        { color: $color-1;
                &::after                                    { width: $btnGap; height: $btnGap; left: $btnGap/2; background: $color-1;}
            }

            + .radio                                        { margin-top: $btnGap*1.5;}
        }

        &.hasTech .radio                                    { opacity: 1;}
    }

    &.btn-group                                             { padding: 0 0 30px;

        .btn                                                { position: relative;
            &::after                                        { content: ""; width: 100%; height: 3px; border-radius: 50%; @include absolute(auto,0,0,0); margin: auto; width: 0; background: rgba($color-1, 0.25); box-shadow: 0px 1px 2px rgba($color-1, 0.25); opacity: 0; transform: scale(0.5); transition: all $speed ease;}

            &.active                                        { color: $color-1; cursor: default;
                &::after                                    { width: 100%; opacity: 1; transform: scale(1);}
            }
        }
    }
}



#nav-wrap                                                   { @include fixed(0,auto,0,0); z-index: 2; width: $sideNavD; background: $white; border-right: 1px solid $grey-lite; text-align: center; overflow: hidden; overflow-y: auto;

    > div                                                   { display: block; margin: 0 (-1px);}

    .nav-inner                                              { position: relative; padding-bottom: 75px; min-height: 100%;}

    .notes
    {
        @include media-breakpoint-down(sm)                  { display: flex;}
    }

    .optn                                                   { display: flex; align-items: center; justify-content: center; cursor: pointer; position: relative; overflow: hidden; width: 100%; margin: 0; padding: 12px; border-radius: 0; background: $white; border-bottom: 1px solid $grey-lite; border-right: 1px solid $grey-lite; transition: all $speed ease;

        &::before                                           { content: ""; @include absolute(0,0,0,0); z-index: 0; width: 0; height: 0; margin: auto; border-radius: 50%; background: transparent; transition: all speed() ease;}
        span                                                { position: relative; z-index: 1; line-height: 1;}

        &.active { &, &:hover, &:active, &:focus            { background: $color-1; color: $white; border-color: $color-1; cursor: default;}}
    }

    .semi                                                   { display: flex; border-top: 12px solid $grey-lite; border-bottom: 12px solid $grey-lite;
        .optn                                               { width: 50%;
            &.sharp span                                    { line-height: 1.5;}
            &.active                                        { cursor: pointer;}
            &:not(.active)
            {
                @include media-breakpoint-up(md)            { border-bottom-color: $white;}
            }
        }
    }

    .scale
    {
        .optn::before                                       { border-radius: 3px;}
    }

    .btn-wrap                                               { padding: $btnGap; margin: $btnGap 0;
        .submit                                             { background: $color-1; color: $white; padding: $btnGap*2; border-radius: 3px; width: 100%; border: 1px solid $color-1;}

        .clear                                              { margin: $btnGap 0 0; cursor: pointer; opacity: 1; transition: all $speed ease;
            &, &:hover, &:active, &:focus                   { color: $color-1; text-decoration: underline;}
        }

        &.disabled
        {
            .submit { &, &:hover, &:active, &:focus         { background: $grey-lite; color: $grey; border-color: $grey; cursor: default; opacity: 0.35;}}
            .clear  { &, &:hover, &:active, &:focus         { opacity: 0; pointer-events: none; cursor: default;}}
        }
    }

    .new-list                                               { @include absolute(auto,0,0,0); padding: $btnGap; margin: $btnGap 0;
        .btn                                                { background: $white; color: $grey-dark; border: 1px solid $color-1; border-radius: 3px; line-height: 1; font-size: 20px; transform: none; width: 100%; padding: $btnGap*2;
            i                                               { transform: none; transition: all $speed ease;}
            &:hover, &:active, &:focus                      { background: $color-1-lite; color: $white;}
        }
    }

    #app-wrap:not(.isBuilding) &
    {
        .optn:hover                                         { color: $white; // border-color: $color-1;
            &::before                                       { width: 20px; height: 20px; background: $color-1;}
        }

        .scale .optn:hover::before                          { width: 50px;}

        .btn-wrap:not(.disabled) .submit
        {
            &:hover, &:active, &:focus                      { background: $color-1-lite; color: $white;}
        }
    }


    @include media-breakpoint-down(sm)                      { top: auto; right: 0; z-index: 2; width: auto; height: $sideNavM; border-right: none; border-top: 1px solid $grey-lite; overflow: visible;
        > div                                               { margin: 0;}

        $vertW : percentage(1/3);
        .nav-inner                                          { background: $white; height: 100%; padding: 0; display: flex;
            > div                                           { position: relative; z-index: 1; height: 100%; margin: 0;
                &.hideProd                                  { display: none;}
            }

            .optn                                           { width: 100%; height: 100%; padding: $btnGap/2; margin: 0; display: inline-flex; justify-content: center; align-items: center;
                // &::before                                  { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%;}
                // span                                       { display: inline-block; vertical-align: middle; width: 100%;}
            }

            .notes                                          {
                .optn                                       { width: percentage(1/7);}
            }

            .mobi-l                                         { width: 100%; height: 100%; padding: 0; // padding: 0 $vertW 0 0;
                > div                                       { height: 100%; margin: 0;}
            }

            .mobi-r                                         { width: spacing(6); display: flex; // @include absolute(auto,0,0,auto); width: $vertW;
                > div                                       { display: inline-block; height: 100%; margin: 0;}
            }

            .semi                                           { width: 50%; border: 0; border-left: $btnGap solid $grey-lite; border-right: $btnGap solid $grey-lite;
                .optn                                       { height: 50%;}
            }

            .scale                                          { width: 50%;
                .optn                                       { height: 50%;}
            }

            #viewFriendly                                   { display: flex; justify-content: center; flex-direction: column; background: $white}

            $clearW : 60px;
            .btn-wrap                                       { @include absolute(auto,0,100%,0); z-index: 0; width: auto; height: auto; padding: 0; padding-right: $clearW; border-top: 1px solid $grey-lite; transform: translate3d(0,0,0); transition: transform 0.25s ease;
                .submit                                     { height: auto; border: 0; border-bottom: 1px solid $grey-lite; border-radius: 0; padding: $btnGap*2;}
                .clear                                      { @include absolute(0,0,0,auto); background: $white; opacity: 1; margin: 0; padding: $btnGap*2; width: $clearW;}

                &.disabled                                  { transform: translate3d(0,100%,0);}
            }

            .new-list                                       { background: $grey-lite; width: spacing(2.5);}
        }
    }
}


#help-tools                                                 { @include fixed(0,0,auto,auto); z-index: 1; background: $white; /*border-top: 1px solid $grey-lite;*/ padding: 0; color: $color-1; transition: all $speed ease;
    .btn                                                    { color: $color-1; font-size: $fontSize-bs; border-radius: 0;
        @include media-breakpoint-down(sm)                  { font-size: $fontSize-md;}

        &:hover, &:focus, &:active                          { color: $color-1-lite; outline: none; box-shadow: none;}
        &.active                                            { background: $color-1; color: $white;}
    }
}


#tool-wrap                                                  { opacity: 0; pointer-events: none; background: $white;
    .inner                                                  { padding: spacing(1.5) spacing(); min-width: 400px;
        @include media-breakpoint-down(md)                  { padding: spacing(1/2);}
    }

    table                                                   { width: 100%; table-layout: fixed; border: 1px solid transparent; box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.5);
        @include media-breakpoint-down(md)                  { margin: 15px auto;}

        + table                                             { margin-top: spacing();}

        th, td                                              { padding: 4px; font-size: 12px;
            @include media-breakpoint-up(mb)                { font-size: 14px; padding: 8px;}
        }

        thead
        {
            tr.header th                                    { border: 1px solid $color-1;  background: $color-1; color: $white;}

            tr.positions th                                 { border: 1px solid $grey-dark; font-family: 'Times New Roman', serif; font-size: 14px; font-weight: 700; background: $grey-dark; color: $white; cursor: default;
                @include media-breakpoint-up(mb)            { font-size: 16px;}
            }
        }

        tbody
        {
            td                                              { border: 1px solid #000;
                &:first-child                               { color: $color-1; font-weight: 700;
                    .root                                   { font-size: 16px;
                        .symbol                             { font-size: 70%;}
                    }
                }

                .root                                       { font-size: 12px; letter-spacing: 1px;
                    span                                    { display: inline-block;}
                }
            }

            .cell                                           { padding: 5px; cursor: pointer;
                .symbol                                     { font-size: 85%; line-height: 1.5;}
                .dim                                        { font-size: 200%;}
            }

                           /*     A      *//*   A#/Bb    *//*     B      *//*      C     *//*    C#/Db   *//*     D      *//*    D#/Eb   *//*      E     *//*      F     *//*    F#/Gb   *//*      G     *//*   G#/Ab    */
            $cellColors : ((#ff6300, #000),(#ffec00, #000),(#99ff00, #000),(#28ff00, #000),(#00ffe8, #000),(#007cff, #000),(#0500ff, $white),(#4500ea, $white),(#57009e, $white),(#55004f, $white),(#740000, $white),(#ee0000, #000));

            tr
            {
                &.active:not(:hover) td:not(.active)        { background: $color-1; color: $white;}

                &.subActive:not(:hover) td:not(.active)     { background: $grey-lite;}
                &.focus                                     { border-top: 2px solid #000; border-bottom: 2px solid #000;}
                &.hide                                      { display: none;}


                @for $i from 1 through length($cellColors)
                {
                    $c : nth($cellColors, $i);

                    &:hover .base-#{$i}                     { background: rgba( nth($c,1), 0.15 );}
                    .active.base-#{$i}                      { background: rgba( nth($c,1), 0.35 ); color: #000;}
                    &:hover .base-#{$i}:hover,
                    .focus.base-#{$i} { &, &:hover          { background: nth($c,1); color: nth($c,2);}}
                }
            }
        }
    }
}


.showTable
{
    #map-wrap                                               { opacity: 0; pointer-events: none; overflow: hidden;}
    #tool-wrap                                              { opacity: 1; pointer-events: auto;}
}


#saved-lists                                                { @include fixed(auto,0,$sideNavM,0); z-index: 1; width: auto; height: $savedListHeight; background: $white; border-top: 1px solid $grey-lite; color: $color-1; overflow: hidden; overflow-y: auto; transform: translate3d(0,100%,0); transition: all $speed ease;
    @include media-breakpoint-up(md)                        { left: $sideNavD; bottom: 0;}

    .close                                                  { display: none; @include absolute(spacing(1/2),spacing(1/2),auto,auto); z-index: 1; float: none; font-size: 20px; color: $color-1; opacity: 1; cursor: pointer;
        &:hover                                             { color: $color-1-lite;}
        i                                                   { color: inherit;}
    }

    .inner                                                  { position: relative; z-index: 0; padding: spacing(1/2); text-align: left;}

    .tools                                                  { margin: spacing(1/2) -2px;
        .btn                                                { margin: 0 2px; border: 1px solid $grey-lite;
            i                                               { color: $color-1; margin-right: 2px;}

            &.start                                         { }
            &.save                                          { background: $color-1; border-color: $color-1; color: $white;}

            &:hover                                         {
                i                                           { color: inherit;}
            }
        }
    }

    .saved-chord-listing                                    { }

    .list-wrap:not(:first-child)                            { margin-top: 4px;}

    table                                                   { width: 100%;
        tbody td                                            { border: 1px solid $grey-lite; text-align: center; padding: 8px 4px; line-height: 1;}
    }

    .list-key                                               { background: $color-1; color: $white;}

    .list-progression                                       { text-align: left;
        .list-note                                          { margin: 0 2px;}
    }

    .delete                                                 { cursor: pointer; opacity: 1;
        &:hover                                             { opacity: 0.75;}
    }
}

.viewLists
{
    #nav-wrap
    {
        .new-list .btn                                      { color: $white;
            &:not(:hover)                                   { background: $color-1;}

            i                                               { transform: rotate(135deg);}
        }
    }

    #map-wrap                                               { bottom: $savedListHeight;}

    #saved-lists                                            { transform: translate3d(0,0,0);}
}

.isBuilding
{
    .key-wrap
    {
        .lines
        {
            [class*="line"]
            {
                span                                        { cursor: pointer;}

                &:hover                                     { z-index: 1;
                    &, [class*="line"]                      { background: $color-1; color: $color-1;}
                }
            }

            &:hover
            {
                .line                                       { opacity: 0.3333;
                    &:hover { &, [class*="line"]            { opacity: 1;}}
                }
            }
        }

        .note                                               { cursor: pointer; transform: scale(0.9);
            &:hover                                         { transform: scale(1);}

            &.active                                        { background: $color-1; border-color: $color-1; transform: scale(1);
                &, .root                                    { color: $white;}
            }
        }
    }

    #nav-wrap
    {
        .optn, .btn-wrap, .clear                            { opacity: 0.5; cursor: default;}
    }
}


.isDev
{
    .hideProd                                               { display: none;}

    #map-wrap .note                                         { transform: none;}
}




.note::before                                               { content: ""; @include absolute(0,0,0,0); margin: auto; border: 1px solid #00f; transform: scale(1.11);}

.ruler                                                      { @include absolute(0,0,auto,0); margin: auto; width: 1px; height: 100%; background: #f00; z-index: 99;
    &.h                                                     { width: 100%; height: 1px; bottom: 0; right: auto;}

    &.top                                                   { bottom: auto;}
    &.bot                                                   { top: auto;}
}

.ruler, .note::before                                       { display: none; content: none;}




/* 2A. Header
----------------------------------------
////////////////////////////////////// */
// @import "styles/header";




/* 2B. Banner
----------------------------------------
////////////////////////////////////// */
// @import "styles/banners";




/* 2C. Content
----------------------------------------
////////////////////////////////////// */
// #content                                                    { }




/*******************
** Element Spacing
*******************/
// @include elementSpacing($elementSpacing);




/* 2D. Footer
----------------------------------------
////////////////////////////////////// */
// @import "styles/footer";




/* 2E. Internet Explorer
----------------------------------------
////////////////////////////////////// */

html.ie9                                                    { }

html.ie8-7                                                  { }








/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
// @import "styles/media";
