@charset "UTF-8";  /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it. */


/* Libraries
------------------------------------------------------------------------------------------------- */
@import "./libraries/animate";
@import "./libraries/fx";
@import "./libraries/hide-n-seek";


/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------

01 - GENERAL STUFF FIRST
1A   - Patterns
1B   - Bootstrap Override
**
02 - LAYOUT
2A   - Header
2B   - Banner
2C   - Content
2D   - Footer
2E   - Internet Explorer
**
03 - MEDIAQUERIES
3A   - High DPI
3B   - Above widths
3C   - Dektop
3D   - Tablets
3E   - Cellular

/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : GENERAL STUFF FIRST
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
@import "./styles/general";




/* 1A. Patterns
 *   - Vertical Align
 *   - Section Colors
 *   - SVG Wrap
 *   - Background Images
 *   - Responsive iFrames
 *   - Headers with background color
 *   - @import Buttons
 *   - @import Post Previews
 *   - @import Forms
 *   - @import Slick Carousel
----------------------------------------
////////////////////////////////////// */
// @import "styles/patterns";
/*******************
** Vertical Align
*******************/
[class*="va-"]                                              { position: relative; height: 100%; font-size: 0;
    > *                                                     { display: inline-block; float: none; font-size: 10px;}
    > .fill                                                 { font-size: 0!important; width: 0; height: 100%;}
}

.va-t > *                                                   { vertical-align: top;}
.va-m > *                                                   { vertical-align: middle;}
.va-b > *                                                   { vertical-align: bottom;}


.no-ani                                                     { animation: none!important; transition: none!important;}




/* 1B. Bootstrap Override
----------------------------------------
////////////////////////////////////// */
[class^="container"]                                        { width: 100%; max-width: 100%; margin: 0 auto; transition: padding $speed ease;}
[class^="container"] [class^="container"]                   { padding-left: 15px; padding-right: 15px;}

section.no-gutter .row                                      { margin: 0 auto;}
section.no-gutter .row > div                                { padding: 0;}

.row                                                        { position: relative; z-index: 1;}



/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html, body                                                  { width: 100%; height: 100%; overflow: hidden;}

html                                                        { opacity: 0; font-size: 10px;}
html.ready                                                  { opacity: 1; transition: opacity $speed*2 ease;}

body                                                        { overflow-y: auto; font-size: 100%; font-weight: 400; background: $grey-xlite;}


#app-wrap                                                   { text-align: center;
    > div                                                   { width: 100%;}
}


#wrapper                                                    { position: relative; z-index: 0; transform: translate3d(0,0,0); width: 100%; max-width: 1000px; margin: 0 auto;}


#current-scale                                              { margin: 60px 0; color: $grey-dark;}
#current-scale .symbol                                      { display: inline-block; vertical-align: top; font-size: 45%;}


#nav-wrap                                                   { display: inline-block; text-align: center;

    > div                                                   { display: inline-block;}

    .btn                                                    { display: inline-block; width: 45px; margin: 5px 5px 0 0; padding: 10px; border-radius: 2px; background: #fff; border: 1px solid $grey-lite; text-align: center;
        &.active                                            { background: $color-1; color: #fff; border-color: $color-1;}
    }

    .btn-group                                              { margin-top: 15px;
        .btn                                                { width: auto; margin: 0; text-align: center; padding: 5px 10px; border-radius: 0;}
    }

    .notes                                                  { width: 200px;}

    .semi                                                   { width: 50px; margin: 0 10px;}

    .scale                                                  { width: 60px;
        .btn                                                { width: 100%;}
    }

    .submit.btn                                             { display: block; width: 100%; margin: 15px 0 0;}
}






.selector                                                   { position: absolute; margin: auto; background: $color-1; color: #fff; border: none; cursor: pointer;}
#note-select                                                { width: 10%; font-size: 18px; padding: 10px; padding-right: 0;}
#scale-select                                               { display: none; width: 25%; font-size: 60px; text-transform: uppercase;}

.note                                                       { /* border-radius: 50%; */ display: block; position: absolute; top: auto; width: 14%; height: 28%; color: #000; border: 1px solid #ccc; font-weight: bold; text-align: center; margin: auto; cursor: pointer; background: #fff; /*transform: translate3d(-50%,0,0);*/

    .spot                                                   { font-size: 20px; line-height: 1; display: block;
        .type                                               { font-size: 14px; vertical-align: baseline;}
    }

    .root                                                   { position: relative; font-size: 45px; color: $color-1;

        span                                                { vertical-align: baseline;}

        .symbol                                             { font-size: 25px;}

        .chord-type                                         { font-size: 35px;
            &.dim                                           { position: absolute; left: 100%; top: -4px; vertical-align: top;}
            &.minor                                         { line-height: 2;}
        }
    }

    .technical                                              { display: inline;
        + .friendly                                         { display: none;}
    }

    &:hover                                                 { background: $color-1; border-color: $color-1;
        &, *                                                { color: #fff;}
    }
}

.showFriendly .note
{
    .technical                                              { display: none;}
    .friendly                                               { display: inline;}
}

@media screen and (max-width: 1000px)
{
    .note
    {
        .spot                                               { font-size: 2.0vw;
            .type                                           { font-size: 1.4vw;}
        }

        .root                                               { font-size: 4.5vw;
            .chord-type                                     { font-size: 3.5vw;}
            .symbol                                         { font-size: 2.5vw;}
        }
    }

    #note-select                                            { font-size: 2vw;}

    #scale-select                                           { font-size: 6vw;}
}







/* 2A. Header
----------------------------------------
////////////////////////////////////// */
// @import "styles/header";




/* 2B. Banner
----------------------------------------
////////////////////////////////////// */
// @import "styles/banners";




/* 2C. Content
----------------------------------------
////////////////////////////////////// */
// #content                                                    { }




/*******************
** Element Spacing
*******************/
// @include elementSpacing($elementSpacing);




/* 2D. Footer
----------------------------------------
////////////////////////////////////// */
// @import "styles/footer";




/* 2E. Internet Explorer
----------------------------------------
////////////////////////////////////// */

html.ie9                                                    { }

html.ie8-7                                                  { }








/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
// @import "styles/media";
