/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
MIXINS.SCSS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Variables
----------------------------------------
////////////////////////////////////// */

// Transition speed
$speed : 0.25s;

// Sidebar Width
$sideNavD : 75px;
$sideNavM : 60px;

// Button Spacing
$btnGap : 6px;

// Saved Lists Height Container
$savedListHeight : $sideNavD;





/* Consistent Element Spacing
----------------------------------------
////////////////////////////////////// */
$elementSpacing : 30px;

@function spacing($number : 1)
{
    @return $elementSpacing * $number
}

$mobileSpacing : spacing(0.5);




/* Colors
----------------------------------------
////////////////////////////////////// */

/* Defaults */
$white : rgb(255,255,255);
$black : rgb(0,0,0);

/* Greyscale */
$grey-xlite   : #fefefe;
$grey-lite    : #dfdfdf;
$grey         : #999999;
$grey-med     : #313131;
$grey-dark    : #1f1f1f;
// $grey-darker  : #181818;

/* Blue */
// $color-1      : #558682;
$color-1      : #006969;
$color-1-lite : lighten($color-1, 10%);

/*********************/

$shades : (
'-white'   : $white,
'-black'   : $black,

'-xlite'   : $grey-xlite,
'-lite'    : $grey-lite,
''         : $grey,
'-med '    : $grey-med,
'-dark'    : $grey-dark,
// '-darker'  : $grey-darker,

'-color-1' : $color-1
);




/* Font Variables
----------------------------------------
////////////////////////////////////// */
@import "./styles/mixins/fonts";
/********************
** Font Families
*********************/
$font-1 : 'Raleway', 'Arial', sans-serif;
$font-2 : $font-1; // 'museo-slab','Times New Roman',serif;
/********************
** Font Sizes
*********************/
$fontSize-xxl : 5.0em;  /* 50px => h1 */
$fontSize-xl  : 3.7em;  /* 37px => h2 */
$fontSize-lg  : 3.0em;  /* 30px => h3 */
$fontSize-md  : 2.2em;  /* 18px => h4, .heading, sub headings */
$fontSize-bs  : 1.6em;  /* 14px => text and buttons */
$fontSize-sm  : 1.4em;  /* 12px => .tag */




/* Mixins
----------------------------------------
////////////////////////////////////// */

/********************
** Compass
*********************/
@function max($numbers...){ @return m#{a}x(#{$numbers}); }
@function min($numbers...){ @return m#{i}n(#{$numbers}); }



/********************
** Font Awesome
*********************/
$fa-font-path : '../node_modules/font-awesome/fonts';


/********************
** Bootstrap
*********************/
$icon-font-path : "~/src/assets/fonts/bootstrap";

$grid-breakpoints : (
    xs : 0,
    sm : 576px,
    md : 783px,
    lg : 992px,
    mb : 1024px,
    xl : 1200px
) !default;

// map-get($grid-breakpoints, "lg")


/********************
** Custom
*********************/
// @import "./libraries/animate";
// @import "./libraries/fx";
// @import "./libraries/hide-n-seek";

@import "styles/mixins/defaults";
// @import "styles/mixins/mobileOnly";
// @import "styles/mixins/elementSpacing";
