<div id="{{scale}}-wrap" class="map-wrap">
	<img src="assets/img/major-key-map.jpg" class="major map" alt="Major Key Map">
	<img src="assets/img/minor-key-map.jpg" class="minor map" alt="Minor Key Map">

	<ng-template ngFor [ngForOf]="getNotes" let-note let-i="index">
	<div id="note-{{i+1}}" class="note">
		<span class="spot">{{!i ? 'TONIC' : i+1}}</span>
		<span class="root" [innerHTML]="noteOpts(note, i)"></span>
	</div>
	</ng-template>
</div>
<!--
<?php foreach($getNotes as $index=>$note): $i=$index+1; ?>
<div id="note-<?php echo $i; ?>" class="note<?php if( $enh = $note['enharmonic'] ){ echo ' hasEnharmonic'; } ?>">
	<span class="spot"><?php echo $index ? $i : 'TONIC'; ?></span>
	<span class="root"><?php

		if( $enh ){ echo '<span class="enharmonic">'.formatNote($note['enharmonic']).'</span>'; }

		echo '<span class="friendly">'.formatNote($note['friendly']).'</span>';

		if( ( $isMinor && ($i==1 || $i==4 || $i==5)) ||
			(!$isMinor && ($i==2 || $i==3 || $i==6))  )
			echo '<span class="chord-type minor">m</span>';
		elseif( ($isMinor && $i==2) || (!$isMinor && $i==7 ) )
			echo '<span class="chord-type dim">&deg;</span>';

	?></span>
</div>
<?php if($isMinor && $i==count($getScale)): ?>
<div id="note-7-harmonic" class="note">
	<span class="spot">7<span class="type">(harmonic)</span></span>
	<span class="root"><?php echo formatNote($note['friendly']); ?><span class="symbol dim">&deg;</span></span>
</div>
<?php endif; endforeach; ?>
-->
