@import '~src/sass/my-mixins';

.map-wrap                                                   { position: relative; margin: 90px 7%;
    .map                                                    { width: 100%;}
}


$arrowS : 20px;
$lineW  : 2px;

.lines                                                      { @include absolute(0,0,0,0); margin: auto;
    [class*="line"]                                         { @include absolute(0,auto,auto,0); z-index: 0; height: $lineW; background: #000; transform-origin: top left; transform: rotate(0deg);

        &.pos-r                                             { left: auto; right: 0; transform-origin: top right;}

        span                                                { @include absolute(0,0,0,0); height: $arrowS; width: auto; margin: auto; cursor: pointer; display: block;}

        &[class*="arr"]
        {
            span { &::before, &::after                      { @include absolute(auto,auto,auto,auto); width: $arrowS; height: $arrowS; margin: auto; border: none; border-width: $lineW; border-color: #000; transform: rotate(45deg);}}

            &[class*="-l"] span::before                     { content: ""; top: 0; bottom: 0; left: $lineW; border-right-style: none; border-left-style: solid; border-bottom-style: solid;}
            &[class*="-r"] span::after                      { content: ""; top: 0; bottom: 0; right: $lineW; border-left-style: none; border-right-style: solid; border-top-style: solid;}
        }

        &:hover                                             { background: $color-1; z-index: 1;
            [class*="line"]                                 { background: $color-1;}
            span { &::before, &::after                      { border-color: $color-1;}}
        }
    }

    .hook
    {
        .line-l                                             { left: $lineW; right: auto; transform: rotate(-90deg); transform-origin: bottom left;}
        .line-r                                             { right: $lineW; left: auto; transform: rotate(90deg); transform-origin: bottom right;}

        .arr
        {
            span { &::before, &::after                      { content: none;}}

            &[class*="-l"] span::after                      { content: ""; top: 0; bottom: 0; right: $lineW + 1px; border-left-style: none; border-right-style: solid; border-top-style: solid;}
            &[class*="-r"] span::before                     { content: ""; top: 0; bottom: 0; left: $lineW + 1px; border-right-style: none; border-left-style: solid; border-bottom-style: solid;}
        }

        &.top                                               { top: 0; bottom: auto;
            .line-l                                         { transform: rotate(90deg); transform-origin: top left;}
            .line-r                                         { transform: rotate(270deg); transform-origin: top right;}
        }

        &.bot                                               { top: auto; bottom: 0;
            .line-l                                         { transform: rotate(-90deg); transform-origin: bottom left;}
            .line-r                                         { transform: rotate(90deg); transform-origin: bottom right;}
        }
    }
}

.major
{
    #line_2-3  { top: 86%; left: 7.75%; width: 17.5%;}
    #line_2-4  { top: 19%; right: 24.6667%; width: 72.5%; transform: rotate(-20.75deg);}
    #line_2-5  { top: 70.5%; left: 0; width: 22.3333%; transform: rotate(-66.5deg);}
    #line_2-7  { bottom: -15%; left: 0; width: 100%;
        > div  { width: 7%;}
    }

    #line_3-4  { top: 29.25%; right: 24.5%; width: 40%; transform: rotate(-31deg);}
    #line_3-6  { top: 86%; left: 41%; width: 17.5%;}

    #line_4-1  { top: 14%; left: 58%; width: 17.75%;}
    #line_4-5  { top: -11%; left: 16.6667%; width: 67%;
        > div  { width: 7%;}
    }
    #line_4-7  { top: 29.25%; left: 91%; width: 22.5%; transform: rotate(66.5deg);}

    #line_5-1  { top: 14%; left: 24.1667%; width: 17.75%;}
    #line_5-6  { top: 29.25%; left: 24.5%; width: 40%; transform: rotate(31deg);}
    #line_5-7  { top: 19%; left: 24.5%; width: 75.5%; transform: rotate(26.1666deg);}

    #line_6-2  { left: 3.5%; bottom: -10.25%; width: 63.1667%;
        > div  { width: 7%;}
    }
    #line_6-4  { top: 29.25%; right: 17%; width: 26.5%; transform: rotate(-51.5deg);}

    #line_7-1  { top: 29.25%; left: 57.75%; width: 40.5%; transform: rotate(30.75deg);}
}

.ruler, .note::before { display: none;}

.note::before { content: ""; @include absolute(0,0,0,0); margin: auto; border: 1px solid #00f; transform: scale(1.11);}
.ruler { @include absolute(0,0,auto,0); margin: auto; width: 1px; height: 100%; background: #f00; z-index: 99;
    &.h  { width: 100%; height: 1px; bottom: 0; right: auto;}

    &.top  { bottom: auto;}
    &.bot  { top: auto;}
}
