<div id="{{this.getScale}}-wrap" class="map-wrap">
	<div class="{{this.getScale}} map">

		<img src="assets/img/{{this.getScale}}-key-map.jpg" alt="{{(this.getScale)}} Key Map">

		<div *ngIf="!this.global.isMinor()" class="lines">
			<div id="major_line_2-3" class="line arr-l-r"><span></span></div>
			<div id="major_line_2-4" class="line arr-l pos-r"><span></span></div>
			<div id="major_line_2-5" class="line arr-r"><span></span></div>
			<div id="major_line_2-7" class="line hook bot">
				<div class="line-l"><span></span></div>
				<span></span>
				<div class="line-r arr"><span></span></div>
			</div>

			<div id="major_line_3-4" class="line arr-l-r pos-r"><span></span></div>
			<div id="major_line_3-6" class="line arr-r"><span></span></div>

			<div id="major_line_4-1" class="line arr-l"><span></span></div>
			<div id="major_line_4-5" class="line hook top">
				<div class="line-l arr"><span></span></div>
				<span></span>
				<div class="line-r"><span></span></div>
			</div>
			<div id="major_line_4-7" class="line arr-r"><span></span></div>

			<div id="major_line_5-1" class="line arr-r"><span></span></div>
			<div id="major_line_5-6" class="line arr-l-r"><span></span></div>
			<div id="major_line_5-7" class="line arr-l-r"><span></span></div>

			<div id="major_line_6-2" class="line hook bot">
				<div class="line-l arr"><span></span></div>
				<span></span>
				<div class="line-r"><span></span></div>
			</div>
			<div id="major_line_6-4" class="line arr-r pos-r"><span></span></div>

			<div id="major_line_7-1" class="line arr-l"><span></span></div>
		</div>
	</div>

	<div *ngIf="this.global.isMinor()" class="lines">
		<div id="minor_line_2-5" class="line bot arr-r"><span></span></div>
		<div id="minor_line_2-7h" class="line bot arr-l"><span></span></div>
		<div id="minor_line_3-2" class="line bot arr-r"><span></span></div>
		<div id="minor_line_3-4" class="line arr-l"><span></span></div>
		<div id="minor_line_3-6" class="line arr-l"><span></span></div>
		<div id="minor_line_4-2" class="line arr-r"><span></span></div>
		<div id="major_line_4-1" class="line hook top">
			<div class="line-l"><span></span></div>
			<span></span>
			<div class="line-r arr"><span></span></div>
		</div>
		<div id="minor_line_4-5" class="line arr-r"><span></span></div>
		<div id="minor_line_4-7h" class="line arr-r"><span></span></div>
		<div id="minor_line_5-1" class="line bot arr-l"><span></span></div>
		<div id="major_line_5-6" class="line hook bot">
			<div class="line-l"><div class="line-r arr"><span></span></div><span></span></div>
			<span></span>
			<div class="line-r arr"><span></span></div>
		</div>
		<div id="minor_line_6-2" class="line arr-r"><span></span></div>
		<div id="minor_line_6-4" class="line arr-r"><span></span></div>
		<div id="minor_line_6-7" class="line arr-l arr-r"><span></span></div>
		<div id="minor_line_7-3" class="line bot arr-l arr-r"><span></span></div>
		<div id="major_line_7-5" class="line hook bot">
			<div class="line-l"><span></span></div>
			<span></span>
			<div class="line-r arr"><span></span></div>
		</div>
		<div id="minor_line_7h-1" class="line arr-r"><span></span></div>
	</div>

	<notes></notes>

	<div class="rulers">
		<div class="ruler h top"></div>
		<div class="ruler h top" style="top: 14%"></div>
		<!-- <div class="ruler h top" style="top: 28%"></div> -->
		<div class="ruler"></div>
		<div class="ruler" style="right: auto;"></div>
		<div class="ruler" style="left: -33.3333%;"></div>
		<div class="ruler" style="left: -66.6667%;"></div>
		<div class="ruler" style="left: auto; right: 33.3333%;"></div>
		<div class="ruler" style="left: auto; right: 16.6667%;"></div>
		<div class="ruler" style="left: auto;"></div>

		<!-- <div class="ruler h" style="bottom: -41.6667%"></div> -->
		<div class="ruler h" style=""></div>
		<!-- <div class="ruler h" style="top: -41.6667%"></div> -->

		<div class="ruler h bot" style="bottom: 14%"></div>
		<div class="ruler h bot"></div>
	</div>
</div>
