<div id="{{this.global.getKey('scale')}}-wrap" class="map-wrap">
	<div class="major map">
		<img src="assets/img/major-key-map.jpg" alt="Major Key Map">
		<div class="lines">
			<div id="line_2-3" class="line arr-l-r"><span></span></div>
			<div id="line_2-4" class="line arr-l pos-r"><span></span></div>
			<div id="line_2-5" class="line arr-r"><span></span></div>
			<div id="line_2-7" class="line hook bot">
				<div class="line-l"><span></span></div>
				<span></span>
				<div class="line-r arr"><span></span></div>
			</div>

			<div id="line_3-4" class="line arr-l-r pos-r"><span></span></div>
			<div id="line_3-6" class="line arr-r"><span></span></div>

			<div id="line_4-1" class="line arr-l"><span></span></div>
			<div id="line_4-5" class="line hook top">
				<div class="line-l arr"><span></span></div>
				<span></span>
				<div class="line-r"><span></span></div>
			</div>
			<div id="line_4-7" class="line arr-r"><span></span></div>

			<div id="line_5-1" class="line arr-r"><span></span></div>
			<div id="line_5-6" class="line arr-l-r"><span></span></div>
			<div id="line_5-7" class="line arr-l-r"><span></span></div>

			<div id="line_6-2" class="line hook bot">
				<div class="line-l arr"><span></span></div>
				<span></span>
				<div class="line-r"><span></span></div>
			</div>
			<div id="line_6-4" class="line arr-r pos-r"><span></span></div>

			<div id="line_7-1" class="line arr-l"><span></span></div>
		</div>
	</div>

	<div class="minor map">
		<img src="assets/img/minor-key-map.jpg" alt="Minor Key Map">
		<div class="lines">
		</div>
	</div>

	<a href="javascript:;" id="note-{{i+1}}" class="note" *ngFor="let note of getNotes; index as i" [innerHTML]="noteOpts(note, i+1)"></a>

	<a href="javascript:;" id="note-7-harmonic" class="note" *ngIf="this.isMinor" [innerHTML]="note7Harmonic(getNotes[6], 7)"></a>

</div>
