<div id="app-wrap" [class.showTable]="this.global.showTable" [class.viewLists]="this.global.viewLists" [class.isBuilding]="this.global.isBuilding">

	<div id="map-wrap" class="window va-m">
		<span class="fill"></span>
		<div>
			<div class="inner">
				<div class="h1" [innerHTML]="this.formatHeading(this.getKey)"></div>

				<div id="{{this.getKey['scale']}}-wrap" class="key-wrap">
					<div class="{{this.getKey['scale']}} map">
						<img src="assets/img/{{this.getKey['scale']}}-key-map.jpg" alt="{{(this.getKey['scale'])}} Key Map">

						<div *ngIf="!this.global.isMinor()" class="lines major">
							<div id="major_line_2-3" (click)="lineClick([2,3],true)" [class.active]="this.checkLines('2-3')" class="line arr-l-r"><span></span></div>
							<div id="major_line_2-5" (click)="lineClick([2,5])" [class.active]="this.checkLines('2-5')" class="line arr-r"><span></span></div>
							<div id="major_line_2-7" (click)="lineClick([2,7])" [class.active]="this.checkLines('2-7')" class="line hook bot">
								<div class="line-l"><span></span></div>
								<span></span>
								<div class="line-r arr"><span></span></div>
							</div>

							<div id="major_line_3-4" (click)="lineClick([3,4],true)" [class.active]="this.checkLines('3-4')" class="line arr-l-r flip"><span></span></div>
							<div id="major_line_3-6" (click)="lineClick([3,6])" [class.active]="this.checkLines('3-6')" class="line arr-r"><span></span></div>

							<div id="major_line_4-1" (click)="lineClick([4,1])" [class.active]="this.checkLines('4-1')" class="line arr-l"><span></span></div>
							<div id="major_line_4-2" (click)="lineClick([2,4])" [class.active]="this.checkLines('2-4')" class="line arr-l flip"><span></span></div>
							<div id="major_line_4-5" (click)="lineClick([4,5])" [class.active]="this.checkLines('4-5')" class="line hook top">
								<div class="line-l arr"><span></span></div>
								<span></span>
								<div class="line-r"><span></span></div>
							</div>
							<div id="major_line_4-7" (click)="lineClick([4,7])" [class.active]="this.checkLines('4-7')" class="line arr-r"><span></span></div>

							<div id="major_line_5-1" (click)="lineClick([5,1])" [class.active]="this.checkLines('5-1')" class="line arr-r"><span></span></div>
							<div id="major_line_5-6" (click)="lineClick([5,6],true)" [class.active]="this.checkLines('5-6')" class="line arr-l-r"><span></span></div>
							<div id="major_line_5-7" (click)="lineClick([5,7],true)" [class.active]="this.checkLines('5-7')" class="line arr-l-r"><span></span></div>

							<div id="major_line_6-2" (click)="lineClick([6,2])" [class.active]="this.checkLines('6-2')" class="line hook bot">
								<div class="line-l arr"><span></span></div>
								<span></span>
								<div class="line-r"><span></span></div>
							</div>
							<div id="major_line_6-4" (click)="lineClick([6,4])" [class.active]="this.checkLines('6-4')" class="line arr-r flip"><span></span></div>

							<div id="major_line_7-1" (click)="lineClick([7,1])" [class.active]="this.checkLines('7-1')" class="line arr-l"><span></span></div>
						</div>

						<div *ngIf="this.global.isMinor()" class="lines minor">
							<div id="minor_line_2-5" (click)="lineClick([2,5])" [class.active]="this.checkLines('2-5')" class="line bot arr-r"><span></span></div>
							<div id="minor_line_2-8" (click)="lineClick([2,8])" [class.active]="this.checkLines('2-8')" class="line bot arr-l"><span></span></div>
							<div id="minor_line_3-2" (click)="lineClick([3,2])" [class.active]="this.checkLines('3-2')" class="line bot arr-r"><span></span></div>
							<div id="minor_line_3-4" (click)="lineClick([3,4])" [class.active]="this.checkLines('3-4')" class="line arr-l"><span></span></div>
							<div id="minor_line_3-6" (click)="lineClick([3,6])" [class.active]="this.checkLines('3-6')" class="line arr-l"><span></span></div>
							<div id="minor_line_4-2" (click)="lineClick([4,2])" [class.active]="this.checkLines('4-2')" class="line arr-r"><span></span></div>
							<div id="minor_line_4-1" (click)="lineClick([4,1])" [class.active]="this.checkLines('4-1')" class="line hook top">
								<div class="line-l"><span></span></div>
								<span></span>
								<div class="line-r arr"><span></span></div>
							</div>
							<div id="minor_line_4-5" (click)="lineClick([4,5])" [class.active]="this.checkLines('4-5')" class="line arr-r"><span></span></div>
							<div id="minor_line_4-8" (click)="lineClick([4,8])" [class.active]="this.checkLines('4-8')" class="line arr-r"><span></span></div>
							<div id="minor_line_5-1" (click)="lineClick([5,1])" [class.active]="this.checkLines('5-1')" class="line bot arr-l"><span></span></div>
							<div id="minor_line_5-6" (click)="lineClick([5,6])" [class.active]="this.checkLines('5-6')" class="line hook bot">
								<div class="line-l"><div class="line-r arr"><span></span></div><span></span></div>
								<span></span>
								<div class="line-r arr"><span></span></div>
							</div>
							<div id="minor_line_6-2" (click)="lineClick([6,2])" [class.active]="this.checkLines('6-2')" class="line arr-r"><span></span></div>
							<div id="minor_line_6-4" (click)="lineClick([6,4])" [class.active]="this.checkLines('6-4')" class="line arr-r"><span></span></div>
							<div id="minor_line_6-7" (click)="lineClick([6,7],true)" [class.active]="this.checkLines('6-7')" class="line arr-l-r"><span></span></div>
							<div id="minor_line_7-3" (click)="lineClick([7,3],true)" [class.active]="this.checkLines('7-3')" class="line bot arr-l-r"><span></span></div>
							<div id="minor_line_7-5" (click)="lineClick([7,5])" [class.active]="this.checkLines('7-5')" class="line hook bot">
								<div class="line-l"><span></span></div>
								<span></span>
								<div class="line-r arr"><span></span></div>
							</div>
							<div id="minor_line_8-1" (click)="lineClick([8,1])" [class.active]="this.checkLines('8-1')" class="line arr-r"><span></span></div>
						</div>
					</div>

					<notes></notes>

					<div class="rulers">
						<div class="ruler h top"></div>
						<div class="ruler h top" style="top: 14%"></div>
						<!-- <div class="ruler h top" style="top: 28%"></div> -->
						<div class="ruler"></div>
						<div class="ruler" style="right: auto;"></div>
						<div class="ruler" style="left: -33.3333%;"></div>
						<div class="ruler" style="left: -66.6667%;"></div>
						<div class="ruler" style="left: auto; right: 33.3333%;"></div>
						<div class="ruler" style="left: auto; right: 16.6667%;"></div>
						<div class="ruler" style="left: auto;"></div>

						<!-- <div class="ruler h" style="bottom: -41.6667%"></div> -->
						<div class="ruler h" style=""></div>
						<!-- <div class="ruler h" style="top: -41.6667%"></div> -->

						<div class="ruler h bot" style="bottom: 14%"></div>
						<div class="ruler h bot"></div>
					</div>
				</div>

				<!--
				<map></map>

				<div id="viewFriendly" class="btn-group" *ngIf="keyHasTechnical(getKey)">
					<div id="js_technical" class="btn" [class.active]="!this.isFriendly" (click)="this.global.setFriendly( false )">Technical</div>
					<div id="js_friendly"  class="btn" [class.active]="this.isFriendly"  (click)="this.global.setFriendly( true )">Friendly</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div id="saved-lists" class="hideProd">
		<div class="window">
			<div class="inner">
				<div class="h5"><b>SAVED LISTS</b></div>
				<hr>
				<div class="tools">
					<button class="btn start" *ngIf="!this.global.isBuilding" (click)="this.global.beginList()"><i class="fa fa-plus" aria-hidden="true"></i> Start New List</button>
					<button class="btn cancel" *ngIf="this.global.isBuilding" (click)="this.global.cancelList()">Cancel</button>
					<button class="btn save" *ngIf="this.global.isBuilding && getLists[0].list.length" (click)="this.global.saveList()">Save</button>
				</div>
				<div class="saved-chord-listing" *ngIf="getLists.length">
					<div class="list-wrap" *ngFor="let list of getLists; index as i">
					    <table>
					    <tbody>
					        <tr>
					            <td width="45">
					                <span class="delete" (click)="this.global.deleteList(i)" *ngIf="!(this.global.isBuilding && i==0)">
					                    <i class="fa fa-times-circle" aria-hidden="true"></i>
					                </span>
					            </td>
					            <td width="120" class="list-key">
									<span [innerHTML]="this.global.noteStringToHtml( list.key.note )"></span>
									{{list.key.scale}}
								</td>
					            <td class="list-progression">
									<div class="list-wrap">
						                <span class="list-note" *ngFor="let note of list.list">
											<span class="technical" *ngIf="this.global.showTechnical(note)" [innerHTML]="this.global.noteStringToHtml( note.technical )"></span>
											<span class="friendly" *ngIf="this.global.showFriendly(note)" [innerHTML]="this.global.noteStringToHtml( note.friendly )"></span>
											<span class="chord-type {{type.class}}" *ngIf="note.extension as type" [innerHTML]="type.html"></span>
										</span>
					                </div>
					            </td>
					        </tr>
					    </tbody>
					    </table>
					</div>
				</div>
				<div *ngIf="!getLists.length">
					<p>No saved lists</p>
				</div>
			</div>
		</div>
		<div class="close" (click)="this.global.viewLists = false">
			<i class="fa fa-times-circle" aria-hidden="true"></i>
		</div>
	</div>

	<navigation></navigation>

	<div id="tool-wrap" class="window va-m">
		<span class="fill"></span>
		<div>
			<div class="inner">
				<div class="row">
					<div class="col-lg-6" *ngFor="let table of this.tableCells">
						<table>
							<thead>
								<tr class="header"><th colspan="7"><h2>{{table.scale.toUpperCase()}}</h2></th></tr>
								<tr class="positions" *ngIf="table.scale=='major'"><th>I</th><th>ii</th><th>iii</th><th>IV</th><th>V</th><th>vi</th><th>vii<sup>&deg;</sup></th></tr>
								<tr class="positions" *ngIf="table.scale=='minor'"><th>i</th><th>ii<sup>&deg;</sup></th><th>III</th><th>iv</th><th>V(v)</th><th>VI</th><th>VII</th></tr>
							</thead>
							<tbody>
								<tr *ngFor="let row of table.notes;let tr=index" [class.hide]="!checkSemi(row[0])" [class.active]="checkActive(row[0]['root'],table.scale)" [class.subActive]="checkSubActive(row[0]['root'],table.scale)" [class.focus]="isFocusRow( table.scale+'-'+row[0]['root'] )">
									<td *ngFor="let cell of row;let td=index" class="cell base-{{cell.root}}" [class.active]="isActiveCell( cell.root )" [class.focus]="isFocusCell( table.scale+'-'+row[0]['root']+'-'+td )" (click)="noteCellClick( cell.root, table.scale+'-'+row[0]['root'], td, (!td?row:null) )">
										<div class="note va-m">
											<span class="fill"></span>
										    <div>
												<div class="root">
													<span class="friendly" *ngIf="this.global.showFriendly(cell.note)" [innerHTML]="this.global.noteStringToHtml( cell.note.friendly )"></span>
													<span class="technical" *ngIf="this.global.showTechnical(cell.note)" [innerHTML]="this.global.noteStringToHtml( cell.note.technical )"></span>
													<span class="chord-type {{type.class}}" *ngIf="cell.note.extension as type" [innerHTML]="type.html"></span>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="help-tools">
		<a href="{{this.getInfoUrl()}}" data-fancybox class="btn"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
		<button class="btn" (click)="this.global.showTable = !this.global.showTable" [class.active]="showTable"><i class="fa fa-table" aria-hidden="true"></i></button>
	</div>

</div>
