<div id="app-wrap" [class.showTable]="showTable" [class.viewLists]="this.global.viewLists" [class.isBuilding]="this.global.isBuilding">

	<div id="map-wrap" class="window va-m">
		<span class="fill"></span>
		<div>
			<div class="inner">
				<!-- <heading></heading> -->
				<h1 id="current-scale" [innerHTML]=title></h1>

				<map></map>

				<div id="viewFriendly" class="btn-group" *ngIf="checkFriendly(getKey)">
					<div id="js_technical" class="btn" [class.active]="!this.isFriendly" (click)="this.global.setFriendly( false )">Technical</div>
					<div id="js_friendly"  class="btn" [class.active]="this.isFriendly"  (click)="this.global.setFriendly( true )">Friendly</div>
				</div>
			</div>
		</div>
	</div>

	<div id="saved-lists" class="hideProd">
		<div class="window">
			<div class="inner">
				<div class="h5"><b>SAVED LISTS</b></div>
				<hr>
				<div class="tools">
					<button class="btn" (click)="this.global.beginList()">Start</button>
					<button class="btn" (click)="this.global.saveList()">Save</button>
				</div>
				<div class="saved-chord-listing" *ngIf="getLists.length">
					<!-- <ng-template ngFor [ngForOf]="getLists" let-list let-i="index">
						<list [list]="list" [i]="i"></list>
					</ng-template> -->

					<div class="list-wrap" *ngFor="let list of getLists; index as i">
					    <table>
					    <tbody>
					        <tr>
					            <td width="45">
					                <span class="delete" (click)="this.global.deleteList(i)">
					                    <i class="fa fa-times-circle" aria-hidden="true"></i>
					                </span>
					            </td>
					            <td width="120"><span class="test">{{list.key.note}} {{list.key.scale}}</span></td>
					            <td class="list-items">
					                <span class="list-item" *ngFor="let note of list.list">
					                    <span class="friendly" [innerHTML]="this.global.noteStringToHtml( note.friendly )"></span>
					                </span>
					            </td>
					        </tr>
					    </tbody>
					    </table>
					</div>
				</div>
				<div class="none list-wrap" *ngIf="!getLists.length">
					<p>No saved lists</p>
				</div>
			</div>
		</div>
		<div class="close" (click)="this.global.viewLists = false">
			<i class="fa fa-times-circle" aria-hidden="true"></i>
		</div>
	</div>

	<div id="tool-wrap" class="window va-m">
		<span class="fill"></span>
		<div>
			<div class="inner">
				<div class="row">
					<div class="col-lg-6" *ngFor="let table of this.tableCells">
						<table>
							<thead>
								<tr class="header"><th colspan="7"><h2>{{table.scale.toUpperCase()}}</h2></th></tr>
								<tr class="positions" *ngIf="table.scale=='major'"><th>I</th><th>ii</th><th>iii</th><th>IV</th><th>V</th><th>vi</th><th>vii<sup>&deg;</sup></th></tr>
								<tr class="positions" *ngIf="table.scale=='minor'"><th>i</th><th>ii<sup>&deg;</sup></th><th>III</th><th>iv</th><th>V(v)</th><th>VI</th><th>VII</th></tr>
							</thead>
							<tbody>
								<tr *ngFor="let row of table.notes;let tr=index" [class.active]="checkActive(row[0]['root'],table.scale)" [class.subActive]="checkSubActive(row[0]['root'],table.scale)" [class.focus]="isFocusRow( table.scale+'-'+tr )">
									<td id="{{ table.scale+'-'+tr+'-'+td }}" *ngFor="let cell of row;let td=index" class="cell base-{{cell.root}}" [class.active]="isActiveCell( cell.root )" [class.focus]="isFocusCell( table.scale+'-'+tr+'-'+td )" (click)="noteCellClick( cell.root, table.scale+'-'+tr, td, (!td?row:null) )">
										<div class="note va-m">
											<span class="fill"></span>
										    <div>
												<div class="root">
													<span class="friendly" [innerHTML]="this.global.noteStringToHtml( cell.note.friendly )"></span>
													<span class="chord-type {{type.class}}" *ngIf="cell.note.extension as type" [innerHTML]="type.html"></span>
													<!--
														<span class="technical" *ngIf="this.checkTechnical(note)" [innerHTML]="this.global.noteStringToHtml( note['technical'] )"></span>
													-->
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<navigation></navigation>

	<div id="help-tools">
		<a href="{{this.getInfoUrl()}}" data-fancybox class="btn"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
		<button class="btn" (click)="this.showTable = !this.showTable" [class.active]="showTable"><i class="fa fa-table" aria-hidden="true"></i></button>
	</div>

</div>
