<div id="note-{{i+1}}" class="note va-m" (click)="noteClick(note)" *ngFor="let note of getNotes; index as i">
    <span class="fill"></span>
    <div>
        <div class="spot" [innerHTML]="this.getSpot(i+1)"></div>
        <div class="root">
            <span class="technical" *ngIf="this.checkTechnical(note)" [innerHTML]="this.global.noteStringToHtml( note.technical )"></span>
            <span class="friendly" *ngIf="this.checkFriendly(note)" [innerHTML]="this.global.noteStringToHtml( note.friendly )"></span>
            <span class="chord-type {{type.class}}" *ngIf="note.extension as type" [innerHTML]="type.html"></span>
        </div>
    </div>
</div>
