@import '~src/sass/my-mixins';

.note                                                       { display: block; @include absolute(auto,0,auto,0); width: 14%; height: 28%; line-height: 1; color: #000; border: 1px solid #ccc; font-weight: bold; text-align: center; margin: auto; cursor: pointer; background: #fff;

    .spot                                                   { font-size: 14px; line-height: 1; display: block; @include absolute(-1px,-1px,auto,auto); border: 1px solid #ccc; padding: 2px 4px; min-width: 25px; font-weight: 300; background: #fff; color: $grey;
        .type                                               { font-size: 60%; vertical-align: super;}
    }

    .root                                                   { position: relative; font-size: 45px; color: $color-1;

        span                                                { vertical-align: baseline;}

        .chord-type                                         { font-size: 35px;
            &.dim                                           { vertical-align: top;}
            // &.minor                                         { line-height: 2;}
        }
    }

    &:hover                                                 { background: $color-1; border-color: $color-1;
        &, .root                                            { color: #fff;}
    }

    @media screen and (max-width: 1000px)
    {
        .spot                                               { font-size: 1.4vw;}

        .root                                               { font-size: 4.5vw;
            .chord-type                                     { font-size: 3.5vw;}
        }
    }
}
