/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  BANNER
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
#banner                                                     { position: relative;

    [class*="container"]                                    { position: relative; z-index: 10;}

    .image                                                  { @include absolute(0,0,0,auto); z-index: 0; margin: auto; width: 50%; height: 100%;}

    .post-preview                                           { background: none;}
    .post-details                                           { padding: 0;}
}
