/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  HEADER
////////////////////////////////////////////////////////////////////////////////////////////////////
// Find all variables inside 'my-mixins'
--------------------------------------------------------------------------------------------------*/
#header                                                     { @include fixed(0,0,auto,0); z-index: 10; height: $headerH; border-bottom: 1px solid transparent; transition: all $speed ease;

    [class*="container"], .row, .row > div                  { height: 100%;}

    .logo                                                   { @include absolute(0,auto,0,15px); margin: auto; z-index: 10; transition: all $speed ease;
        a                                                   { display: block; height: 100%; padding: $mobileSpacing 0;}
        img                                                 { max-height: 100%; max-width: 100%;}
    }

    .quick-nav                                              { @include absolute(0,15px,auto,auto);
        .btn                                                { padding: 12px 16px; margin: 0 0 0 5px;}
    }

    .navi                                                   { @include absolute(auto,0,0,auto);
        ul li
        {
            a                                               { padding: $mobileSpacing $mobileSpacing $elementSpacing; transition: padding $speed ease;}
            a::after                                        { content: ""; display: block; position: relative; margin: 0 auto; bottom: -5px; width: 0; height: 3px; background: $color-1; opacity: 0; transition: all $speed ease;}
            a:hover::after, &.current-menu-item a::after    { width: 100%; opacity: 1;}
        }

        &:hover > ul > li.current-menu-item
        {
            > a::after                                      { width: 0; opacity: 0;}
            &:hover > a::after                              { width: 100%; opacity: 1;}
        }
    }

    .slim-head &                                            { height: $headerS; border-color: $grey;
        .navi a                                             { padding-bottom: $mobileSpacing;}
    }
}


/*******************
** Navigation Styling
*******************/
.navi ul li                                                 { float: left; @include fonts($font-2, 1.9em, 1.2);}
.navi ul li a                                               { position: relative; display: block; color: #fff; text-transform: uppercase; line-height: 1;}


/*******************
** Mobile Button
*******************/
#mobile-button                                              { display: none; @include absolute(0,$mobileSpacing,0,auto); margin: auto; height: 100%; cursor: pointer;
    .btn                                                    { padding: 12px;}

    ul                                                      { width: 20px; padding: 0; margin: 0;
        li                                                  { position: relative; z-index: 1; width: 100%; height: 2px; margin: 0 auto; background: #fff; transform: translate3d(0,0,0) rotate(0); animation-duration: 0.75s; animation-fill-mode: both; transform-origin: center;}
        li.t                                                { animation-name: closeMenuTop; border: none;}
        li.m                                                { margin: 3px auto; transition-delay: 0.30s;}
        li.b                                                { animation-name: closeMenuBot; border: none;}
    }

    span                                                    { font-size: 13px; margin-left: 8px;}
}


.open-menu #mobile-button ul
{
    li.t                                                    { animation-name: openMenuTop;}
    li.m                                                    { background: transparent; transition-delay: 0s;}
    li.b                                                    { animation-name: openMenuBot;}
}
