<div id="nav-wrap">
	<div class="nav-inner">
		<div class="notes">
		    <ng-template ngFor [ngForOf]="this.global.getAllNotes" let-note let-i="index">
			<div class="btn" *ngIf="note.length==1" [class.active]="newKey['base']==note" (click)="buttonClick('note',note)" [innerHTML]="note"></div>
		    </ng-template>

			<!-- <div class="btn disabled">&nbsp;</div> -->
		</div>
		<div class="semi">
			<div class="btn" [class.active]="newKey['semi']=='#'" (click)="buttonClick('semi','#')">&#9839;</div>
			<div class="btn" [class.active]="newKey['semi']=='b'"  (click)="buttonClick('semi','b')">&#9837;</div>
		</div>
		<div class="scale">
			<div class="btn" [class.active]="newKey['scale']=='major'" (click)="buttonClick('scale','major')">Major</div>
			<div class="btn" [class.active]="newKey['scale']=='minor'" (click)="buttonClick('scale','minor')">Minor</div>
		</div>

		<div class="btn-wrap" [class.disabled]="!showBtn">
			<div class="btn submit" (click)="buttonClick('submit')">Go</div>
			<div class="clear" (click)="buttonClick('clear')">Clear</div>
		</div>

		<div class="new-list hideProd" (click)="newList()">
			<div class="btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
		</div>
	</div>
</div>

<div id="saved-lists" class="hideProd">
	SAVED LISTS
</div>
